{hosts, "[\"empty\" , \"empty-cluster\"]"}.
{node_name, "ejabberd@empty"}.

{host_config, ""}.

{odbc_server, ""}.
{s2s_addr, "{ {s2s_addr, \"xmpp-dev-cluster-1\"}, { {127,0,0,1}, 5269 } }."}.
{s2s_default_policy, allow}.
{outgoing_s2s_port, 5269}.
{ejabberd_c2s_port, 5222}.
{ejabberd_webadmin_port, 5280}.
{ejabberd_s2s_in_port, 5269}.
{mod_snmp,   "%% CAUTION: serious performance problems have been found in the snmp_rt module\n"
           "  %% which is part of the ejabberd SNMP implementation. It's advised not to use\n"
           "  %% SNMP statistics until a fix is released or at least use it with option\n"
           "  %%     {rt_enabled, false}\n"
           "  %% as shown below. Some counters will always return 0 because of that.\n"
           "  %%, {mod_snmp, [{modules, []}, {rt_enabled, false}]}"}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "mongodb_djangouser"}.
{ext_auth_script, "%%{extauth_program, \"/path/to/authentication/script\"}."}.
{tls_config, "%%{certfile, \"/path/to/ssl.pem\"}, starttls,"}.
{zlib, ""}.
{admin_user, "\"guluxmppadmin\""}.
{muc_host, "\"conference.xmpp-dev-cluster-1\""}.
{pubsub_host, "\"pubsub.@HOST@\""}.
{loglevel, 2}.
{mongodb_djangouser_server, "[\"10.0.0.157:27017\"]"}.
{mongodb_djangouser_db, "\"gulu\""}.
{mongo_log_hosts, "[\"10.0.0.157:27017\"]"}.
{mongo_log_db, "\"gulu\""}.
{mongo_log_collection, "\"xmppchat_message\""}.
{mongo_log_api_url, "\"http://new.demo.gd\""}.
{allowed_ips, "[ {127,0,0,1} ]"}.
{http_rest_port, 5280}.
{host_config, "{host_config, \"anonymous.localhost\", [{auth_method, anonymous},
                                       {allow_multiple_connections, true},
                                       {anonymous_protocol, both}]}." }.
