[
{apns, [
    {apple_host, "gateway.sandbox.push.apple.com"},
    {apple_port, 2195},
    {cert_file, "priv/cert.pem"},
    {key_file, undefined},
    {cert_password, undefined},
    {timeout, 30000},
    {feedback_port, 2196},
    {feedback_host, "feedback.sandbox.push.apple.com"},
    {feedback_timeout, 18000000}
]},
{lager, [
    {handlers, [
      {lager_console_backend, [info, true]},
      {lager_file_backend, [
        {"log/ejabberd.log", info, 2097152, "$D0", 5}
      ]}
    ]}
  ]}
].

%% vim: filetype=erlang
